# Environment variables
.env
.env.*
!.example.env

# Python & Pycache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Uploads & Media
uploads/

# Local dev database
hackulus.db

# IDE / Editor files
.vscode/
.idea/
*.swp

# Database setup & Seed scripts
seed_dummy_data.py
setup_db.py
